<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="shortcut icon" type="img" href="logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>

    <style>
        body {
            background-color: #121229;
        }

        .card {
            width: 20rem;
            height: 20rem;
            background-color: rgba(0, 0, 0, 0.5);
            color: #A8B3D1;
        }

        .card-header {
            height: 5rem;
            font-weight: bold;
            border-bottom: 2px solid #A8B3D1;
        }

        .card-body {
            overflow: hidden;
            overflow-y: scroll;
            height: 100%;

        }

        .card-footer {
            border-top: 2px solid #A8B3D1;
        }

        .header {
            box-shadow: 6px 6px 10px #A8B3D1;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .cardd {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: rgba(0, 0, 0, 0.7);
            color: #A8B3D1;
            padding: 20px;
            box-shadow: 0px 3px 15px 4px #A8B3D1;

        }

        .namee {
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;

        }

        form input {
            width: 100%;
            color: black;
            margin-bottom: 15px;
            height: 45px;
            border-radius: 5px;
            border: 2px solid black;
            outline: none;
            padding-left: 10px;
        }

        form textarea {
            width: 100%;
            height: 15rem;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 2px solid black;
            outline: none;
            padding-left: 10px;
        }

        ::placeholder {
            font-size: 15px;
        }
        .card-footer button{
            border-radius: 15px;
            height: 30px;
            background-color: #A8B3D1;
            outline: none;
            border: none;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }
        .card-footer a{
            text-decoration: none;
        }
        .card-footer button:hover{
            background-color: #A8B3D1;
            color: black;
        }

        @media (max-width:500px) {
            .header h1 {
                font-size: 20px;
            }
        }
    </style>
</head>

<body>
    <% if(editproject==1){%>
          
        <div class="alert alert-success alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> Project updated sucessfully...!
        </div>
    
<%}%> 
<% if(delproject==2){%>
          
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> Project delete sucessfully...!
    </div>

<%}%> 

    <div id="project" class="modal fade" tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <h3 class="modal-title"><b><i class="fas fa-edit"></i> Edit Project</b> 
                    </h3>
                    <button type="button" class="close" style="color: red; font-size: 45px;" data-dismiss="modal">&times;</button>
                   
                </div>
                <div class="modal-body">

                    <form action="/projectedit" method="POST" >

                        <div class="namee">
                            <label for="">Name of Project</label>
                        </div>

                        <input type="text" placeholder="Name" required id="name" name="pname">
                        <input type="hidden" id="idd" name="pid">
                        <div class="namee mt-3">
                            <label for="">Link of Project</label>
                        </div>
                        <input type="text" placeholder="Languages use in project" required id="link" name="plink">
                        <div class="namee mt-3">
                            <label for="">Link of Project</label>
                        </div>
                        <input type="text" placeholder="Languages use in project" required id="plang" name="plang">


                        <div class="namee mt-3">
                            <label for="">Description</label>
                        </div>
                        <textarea cols="58" rows="3" class="edesc" placeholder="leave a note" id="desc"  name="pdesc" value="" ></textarea>
                        
                        <p class="text-secondary"><small>If you don't save, your changes will be lost.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                   <button class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>

<!-- -=-=--======================================================================================================= -->

    <div class="container d-flex justify-content-around">
        <div class="header d-flex justify-content-center align-items-center rounded h-25 text-white
         mt-3 w-75 mb-1 ">
            <i class="fas fa-tasks h1 mr-3 mt-1"></i>
            <h1>Other Projects</h1>
        </div>

    </div>
    <div class="backbtn d-flex justify-content-center">
        <button class="shadow btn btn-primary mt-4 "
            style="width: 200px; height: 50px; font-weight: bold; background-color: #A8B3D1 ;color: black; border: none;"
            onclick="back()"> Go
            back</button>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 cardd d-flex justify-content-center flex-wrap p-4">
               <% if(projectdata[0].project.length == 0) { %>
                        <h2 style="color:#A8B3D1;">Empty..! You Do Not Post Any Project</h2>
                    <% } %>
                <%for(let i=0; i< projectdata[0].project.length ; i++){ %>
                <div class="card   m-3">
                    <div class="card-header ">
                        <h5><%- projectdata[0].project[i].projectname %></h5>
                    </div>
                    <div class="card-body">
                        <%- projectdata[0].project[i].desc %>
                    </div>
                    <div class="card-footer">
                        <%- projectdata[0].project[i].plang %>
                    </div>
                    <div class="card-footer">
                        <%- projectdata[0].project[i].link %>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                       <a href="" data-toggle="modal" data-target="#project"  id="<%- projectdata[0].project[i].projectname %>~<%- projectdata[0].project[i].desc %>~<%- projectdata[0].project[i].link %>~<%- projectdata[0].project[i].plang %>" onclick="fun(this.id,'<%- i %>')"
                        > <button class="btn btn-primary mr-2" >Edit</button></a>
                        <a href="/projectdelete/<%= i %>"> <button class="btn btn-danger">Delete</button></a>
                    </div>
                </div>
                <%}%>

            </div>
        </div>
    </div>



    <script>
        function fun(data, id) {
    CKEDITOR.replace('desc');
    console.log(data.split('~'))
    document.getElementById("name").value = data.split('~')[0];
    document.getElementById("desc").value = data.split('~')[1];
    document.getElementById("link").value = data.split('~')[2];
    document.getElementById("plang").value = data.split('~')[3];
    document.getElementById("idd").value = id;
}


        function back() {
            window.history.back('/admin');
        }
      
    </script>








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>